@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@200;300;400;500&family=Fira+Code:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@200;300;400;500&family=Fira+Code:wght@300;400;500;600;700&display=swap");
*, *:before, *:after {
  box-sizing: border-box;
}

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: none;
}

footer, header, nav, section, main {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

body {
  font-family: "Catamaran", sans-serif;
  color: #ffffff;
  background: #1A1D1A;
  font-size: 1em;
}
body a {
  text-underline: none;
  color: #72B01D;
}

p {
  margin-bottom: 1.3em;
}

#wrapper {
  background-image: url("../img/big-texture-2.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: -10em -10em;
  background-size: 100em 100em;
}

#intro {
  text-align: right;
}
#intro #title {
  margin: 2em;
  width: 100%;
}
#intro #title h1 {
  color: #72B01D;
}
#intro #title h3, #intro #title h4 {
  font-size: 1.6em;
}
#intro #title h5 {
  font-size: 1em;
  font-style: italic;
}

#right-wrapper {
  background-color: #72B01D;
}
#right-wrapper article.new-element {
  border-radius: 25px;
  background: #1A1D1A;
}
#right-wrapper article.new-element h2 {
  color: #72B01D;
  padding-bottom: 30px;
}

footer {
  margin-top: 2em;
  font-size: 0.75em;
  text-align: center;
}

h1 {
  font-size: 6em;
}

h2 {
  font-size: 3em;
}

#wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
}
#wrapper #intro {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
#wrapper #intro #title h1 {
  margin-bottom: 280px;
}
#wrapper #intro #title h4 {
  margin-bottom: 150px;
}
#wrapper #intro #title h5 {
  margin-bottom: 100px;
}
#wrapper #intro #title #links i img {
  width: 2.5em;
}
#wrapper #right-wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  justify-content: center;
  padding: 100px;
}

@media (min-width: 1450px) {
  #wrapper {
    flex-direction: row;
  }

  #intro {
    width: 50%;
    padding: 200px;
  }

  #right-wrapper {
    width: 50%;
  }
  #right-wrapper article.new-element {
    padding: 100px;
  }
}
@media (max-width: 1450px) {
  #wrapper {
    flex-direction: row;
  }

  #intro {
    width: 100%;
    padding: 200px;
  }

  #right-wrapper {
    width: auto;
  }
  #right-wrapper article.new-element {
    padding: 100px;
  }
}
@media (max-width: 780px) {
  h1 {
    font-size: 4em;
  }

  h2 {
    font-size: 2em;
  }

  #wrapper #intro {
    padding: 7em;
  }
  #wrapper #intro #title h1 {
    margin-bottom: 70px;
  }
  #wrapper #intro #title h4 {
    margin-bottom: 70px;
  }
  #wrapper #intro #title h5 {
    margin-bottom: 70px;
  }
  #wrapper #intro #title #links {
    width: auto;
  }
  #wrapper #intro #title #links i img {
    width: 2.5em;
  }
  #wrapper #right-wrapper article.new-element {
    padding: 50px;
  }
}

/*# sourceMappingURL=main.css.map */
